In [33]:
import sqlite3
import pandas as pd
import re

## Download Data

Outline:


1) Need to download SQLite browser (???)
Download sqlite from https://www.sqlite.org/download.html
or sqlite browser from 
2) Need sqlite3 module and probably pandas

3) Virtually run jupyter notebook? L asking Robin and Eric about best ways to proceed

3) Jupyter notebook: 2 versions (answers and questions)

4) Figure out the best way to import data from pandas dataframes.

5) Introduction to databases in general: excel chart to dataframes to 

6) Creating the database- loading in data, constructing tables - L and D need to figure it out

7) After create database, start playing around with queries

8) Ask Mike about setting up sql on our own computers

In [10]:
# Data sets available at https://catalog.data.gov/dataset
data = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv',',')

In [12]:
# Look at data
data.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

In [13]:
# What are the column names?
print([col for col in data.columns])

['Year', '113 Cause Name', 'Cause Name', 'State', 'Deaths', 'Age-adjusted Death Rate']
{'Cancer', "Alzheimer's disease", 'CLRD', 'Suicide', 'Unintentional injuries', 'Stroke', 'Kidney disease', 'All causes', 'Influenza and pneumonia', 'Heart disease', 'Diabetes'}

In [ ]:
# What are unique causes of death
print(set(data['Cause Name'].values))

In [36]:
#Number of characters in cause
print([len(list(cause)) for cause in set(data['Cause Name'].values)])

[6, 19, 4, 7, 22, 6, 14, 10, 23, 13, 8]

In [34]:
def makeDFsFromColumns(L,dataframe):
    for item in L:
        #Rename item to avoid spaces
        item_new_name = re.sub(' ', '_', item)
        
        #Take unique items, put into dataframe
        data_unique = dataframe[item].unique()
        unique_df = pd.DataFrame(data_unique, columns = [item_new_name])
        
        #Save as csv file with new file
        new_file_name = f"{item_new_name}.txt"
        unique_df.to_csv(new_file_name, index = False, header = True)

# Make files of unique values for all data except "Deaths" and "Age-adjusted Death Rate"
L = [col for col in data.columns if col not in ["Deaths", "Age-adjusted Death Rate"]]
makeDFsFromColumns(L,data)

main_data_frame = pd.DataFrame(data, colums = ["Year", "Cause Name", "State", "Deaths", "Age-adjusted Death Rate"])
main_data_frame.to_csv("main_data.txt", index = False, header = True)

In [44]:
# Make database
conn = sqlite3.connect("leading_cases_of_death.sqlite")
cur = conn.cursor()
sql_statement1 = ("DROP TABLE IF EXISTS Cause")
sql_statement2 = ''' CREATE TABLE Cause(
                    CauseNumber INTEGER PRIMARY KEY,
                    Cause VARCHAR(23) NOT NULL
                    )'''
cur.execute(sql_statement1)
cur.execute(sql_statement2)
conn.close()

In [ ]:
a = 5

NameError: name 'iterrows' is not defined